.cart__counter {
  position: absolute;
  background: #4541FE;
  height: 16px;
  width: 16px;
  top: -45%;
  right: -30%;
  border-radius: 100px;
  color: var(--light-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
}

.empty {
  opacity: 0.3;
  pointer-events: none;

  .cart__counter {
    display: none;
  }

}
