@import 'colors';

.common-text {
  font-family: 'PT_Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}