@import 'colors';

.footer {
  font-family: 'PT Sans';
  background-color: var(--dark);
  padding: 32px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.footer__menu {
  font-style: normal;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(6, auto);
  width: 100%;
  list-style: none;

  @media (max-width: 1199px) {
    grid-template-columns: 1fr;
  }

  .footer__menu-section-link,
  .footer__menu-title {
    color: var(--light-text);
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    
    ul {
      list-style: none;
      margin-left: 9px;
    }
  }
}

.footer-menu__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: var(--light-text);

  &:hover {
    opacity: 0.5;
  }
}

.footer__menu-section-link:hover {
  opacity: 0.5;
}

.footer-menu__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--light-text);
  text-decoration: none;
}

.footer-menu__info {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  opacity: 0.75;
}

.footer__info {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  margin-top: 56px;
  color: var(--info-text);

  @media (max-width: 1199px) {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}

.footer__rules,
.footer__dev {
  color: var(--info-text);

  &:hover {
    color: var(--light-text);
  }
}