@import 'colors';
@import 'cart-link';

.header-light {
  display: flex;
  align-items: center;
  height: 48px;
  font-family: 'PT_Sans', sans-serif;
}

.header__menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
}

.header-light__menu {
  display: flex;
  align-items: center;
  list-style: none;
  
  .menu-item {
    color: var(--dark);
    margin-right: 24px;
    white-space: nowrap;
  }
}

.menu-item:hover {
  color: var(--dark-text--hover);
}

.logo__dark {
  color: var(--dark);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  margin-right: 42px;
}

.cart-dark {
  display: flex;
  align-items: center;
  color: var(--dark);
}

.cart__text {
  margin-left: 6px;
  &:hover {
    color: var(--dark-text--hover);
  }
}

.cart-dark__img {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}

@media (max-width: 1199px) {
  .header__menu {
    width: 100%;
  }
  
  .header-light__menu {
    overflow: scroll;
  }

  .cart__text {
    display: none;
  }
}