@import 'colors';

.header-light {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  font-family: 'PT_Sans';
}

.header-light__menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-item__main {
  color: var(--dark-text);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  margin-right: 42px;
}

.menu-item {
  color: var(--dark-text);
  margin-right: 24px;
  &:hover {
    color: var(--dark-text--hover);
  }
}

.cart-dark {
  color: var(--dark-text);
}

.cart-dark__img {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}

.cart__text {
  margin-left: 6px;
  &:hover {
    color: var(--dark-text--hover);
  }
}

@import 'counter';