@import 'colors';
@import 'cart-link';

.header-dark {
  display: flex;
  align-items: center;
  height: 48px;
  font-family: 'PT_Sans';
  background: linear-gradient(267.53deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
}

.header-dark__menu {
  list-style: none;
  display: flex;
  align-items: center;

  .menu-item {
    color: var(--light-text);
    margin-right: 24px;

    &:hover {
      opacity: 0.5;
    }
  }

  .menu-item__main {
    color: var(--light-text);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;
    margin-right: 42px;
  }
}

.cart-light {
  color: var(--light-text);

  .cart__text {
    margin-left: 6px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.cart-light__img {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}

