@import 'colors';
@import 'cart-link';

.header-dark {
  display: flex;
  align-items: center;
  height: 48px;
  font-family: 'PT_Sans', sans-serif;
  background: linear-gradient(269.92deg, rgba(0, 0, 0, 0) 0.07%, #0C0C0C 99.93%);
}

.header__menu {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 100%;
}

.header-dark__menu {
  display: flex;
  align-items: center;
  list-style: none;
  
  .menu-item {
    color: var(--light-text);
    margin-right: 24px;
    white-space: nowrap;
  }
}

.menu-item:hover {
  color: var(--light-text--hover);
}

.menu-item__main {
  color: var(--light-text);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
  margin-right: 42px;
}

.cart-light {
  display: flex;
  align-items: center;
  color: var(--light-text);
}

.cart__text {
  margin-left: 6px;
  &:hover {
    color: var(--light-text--hover);
  }
}

.cart-light__img {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
}

@media (max-width: 1199px) {
  .header__menu {
    width: 100%;
  }
  
  .header-dark__menu {
    overflow: scroll;
  }

  .cart__text {
    display: none;
  }

  .header-dark {
    background:var(--dark);
  }
}