* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'components/fonts';
@import 'components/common-text';
@import 'components/header-light';
@import 'components/header-dark';
@import 'components/footer';
@import 'containers/about';
@import 'containers/container';