footer.footer
  .container
    ul.footer__menu
      li.footer__menu-title Фетч
        ul
          li
            a(href="#" class="footer-menu__link") Магазин
          li 
            a(href="#" class="footer-menu__link") Блог
          li 
            a(href="#" class="footer-menu__link") Доставка и оплата
          li &nbsp;
          li
            a(href="mailto:shop@fetch.ru" class="footer-menu__link") shop@fetch.ru
          li
            a(href="tel:+7 800 912-11-42" class="footer-menu__phone") 8 800 912-11-42
          li.footer-menu__info Звонок бесплатный
      li.footer__menu-title 
        a(href="#" class="footer__menu-section-link") Для мужчин
        ul
          li
            a(href="#" class="footer-menu__link") Верхняя одежда
          li 
            a(href="#" class="footer-menu__link") Рубашки и поло
          li 
            a(href="#" class="footer-menu__link") Трикотаж
          li 
            a(href="#" class="footer-menu__link") Брюки и джинсы
          li 
            a(href="#" class="footer-menu__link") Бельё и носки
      li.footer__menu-title 
        a(href="#" class="footer__menu-section-link") Для женщин
        ul
          li
            a(href="#" class="footer-menu__link") Верхняя одежда
          li 
            a(href="#" class="footer-menu__link") Рубашки и поло
          li 
            a(href="#" class="footer-menu__link") Трикотаж
          li 
            a(href="#" class="footer-menu__link") Платья и юбки
          li 
            a(href="#" class="footer-menu__link") Бельё и носки
      li.footer__menu-title 
        a(href="#" class="footer__menu-section-link") Обувь
        ul
          li
            a(href="#" class="footer-menu__link") Кроссовки и кеды
          li 
            a(href="#" class="footer-menu__link") Ботинки
      li.footer__menu-title 
        a(href="#" class="footer__menu-section-link") Аксессуары
        ul
          li
            a(href="#" class="footer-menu__link") Сумки и рюкзаки
          li 
            a(href="#" class="footer-menu__link") Часы
          li 
            a(href="#" class="footer-menu__link") Бижутерия
          li 
            a(href="#" class="footer-menu__link") Средства для ухода
      li.footer__menu-title
        a(href="#" class="footer__menu-section-link") Скидки
        ul
          li
            a(href="#" class="footer-menu__link") Летняя распродажа
          li 
            a(href="#" class="footer-menu__link") Коллекция 2018

    .footer__info
      span.copy &copy; Фетч-команда, 2019
      a(href="#" class="footer__rules") Правила обработки персональных данных
      a(href="#" class="footer__dev") Разработка и поддержка сайта
