footer.footer
  .container
    ul.footer__menu
      li.footer__menu-title Фетч
        ul
          li
            a(href="#" class="footer-menu__link") Магазин
          li 
            a(href="#" class="footer-menu__link") Блог
          li 
            a(href="#" class="footer-menu__link") Доставка и оплата
      li.footer__menu-title 
        a(href="#" class="footer__menu-section-link") Для мужчин
        ul
          li
            a(href="#" class="footer-menu__link") Верхняя одежда
          li 
            a(href="#" class="footer-menu__link") Рубашки и поло
          li 
            a(href="#" class="footer-menu__link") Трикотаж
          li 
            a(href="#" class="footer-menu__link") Брюки и джинсы
          li 
            a(href="#" class="footer-menu__link") Бельё и носки
      li.footer__menu-title 
        a(href="#" class="footer__menu-section-link") Для женщин
      li.footer__menu-title 
        a(href="#" class="footer__menu-section-link") Обувь
      li.footer__menu-title 
        a(href="#" class="footer__menu-section-link") Аксессуары
      li.footer__menu-title
        a(href="#" class="footer__menu-section-link") Скидки
