include meta
header.header-light.container
  nav
    ul.header-light__menu
      li
        a(href="/" class="menu-item__main") Фетч
      li
        a(href="#" class="menu-item") Одежда
      li
        a(href="#" class="menu-item") Обувь
      li
        a(href="#" class="menu-item") Аксессуары
      li
        a(href="#" class="menu-item") Блог
      li
        a(href="#" class="menu-item") Магазин
      li
        a(href="#" class="menu-item") Доставка и оплата
  a(href="#" class="cart-dark")
    .cart-dark__img
      img(src="images/icons/icon-cart-black.svg", alt="Корзина" class="")
      .cart__counter 4
    span.cart__text Оформить заказ