include meta
header.header-light
  .container
    nav.header__menu
      a(href="/" class="logo__dark") Фетч
      ul.header-light__menu
        li
          a(href="#" class="menu-item") Одежда
        li
          a(href="catalog.html" class="menu-item") Обувь
        li
          a(href="#" class="menu-item") Аксессуары
        li
          a(href="#" class="menu-item") Блог
        li
          a(href="#" class="menu-item") Магазин
        li
          a(href="#" class="menu-item") Доставка и оплата
      a(href="#" class="cart-dark empty")
        .cart-dark__img
          img(src="images/icons/icon-cart-black.svg", alt="Корзина" class="")
          .cart__counter 4
        span.cart__text Оформить заказ