include components/header-dark

.about
  .container
    h1.about__heading О магазине Фетч

    .about__wrapper
      .about__info
        p.common-text В магазине Фетч представлено более 100 ведущих мировых производителей одежды и обуви.
        p.common-text Разнообразие ассортимента обеспечивают товары культовых брендов современности: Barbour, Fred Perry, Norse Projects, Edwin и капсульные коллекции компаний, делающих ставку на эксклюзивность и премиальный статус своей продукции — Stone Island, Polo Ralph Lauren, C.P. Company.
        p.common-text Приобрести последние можно лишь в нескольких торговых точках по всему миру, включая Фетч.
        p.common-text Особый повод для гордости — обширная подборка редких и культовых кроссовок adidas Originals, Nike, New Balance, ASICS, Reebok и другие.
      .about__contacts
      
include components/footer