include components/header-light

.catalog
  .catalog__plate
  .container
    h1.catalog__heading Обувь
    .catalog__wrapper
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/1.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/2.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/3.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/4.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/5.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/3.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/6.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/7.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/8.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/9.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/10.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/6.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/11.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/6.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/8.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;
      .product-card
        a(href="#" class="product-name")
          img(src="images/sneakers/7.jpg", alt="Maison Margiela Fusion Low Sneakers")
          |Maison Margiela Fusion Low Sneakers
        span.product__section Кроссовки
        span.product__price 92 000 &#8381;

    .catalog__pagination
      .pagination__text Страницы
      a(href="#" class="pagination-item active") 1
      a(href="#" class="pagination-item") 2
      a(href="#" class="pagination-item") 3
      a(href="#" class="pagination-item") 4
      a(href="#" class="pagination-item") 5
      a(href="#" class="pagination-item") 6
      a(href="#" class="pagination-item") 7
      a(href="#" class="pagination-item") 8
      a(href="#" class="pagination-item") 9
      a(href="#" class="pagination-item") 10
      a(href="#" class="pagination-item") 11
      a(href="#" class="pagination-item") 12

  include components/footer