include components/meta
.checkout
  include components/breadcrumbs
  .checkout__wrapper
    .shopping-cart
      .items
        .item
          .item__img
            img(src="images/sneakers/4.jpg", alt="Maison Margiela Fusion Low Sneakers")
          .item__description
            span.product-name Maison Margiela Fusion Low Sneakers
            span.product__section Кроссовки
            span.product__price 92 000 &#8381;
        .item
          .item__img
            img(src="images/sneakers/6.jpg", alt="Maison Margiela Fusion Low Sneakers")
          .item__description
            span.product-name Maison Margiela Fusion Low Sneakers
            span.product__section Кроссовки
            span.product__price 92 000 &#8381;
        .item
          .item__img
            img(src="images/sneakers/8.jpg", alt="Maison Margiela Fusion Low Sneakers")
          .item__description
            span.product-name Maison Margiela Fusion Low Sneakers
            span.product__section Кроссовки
            span.product__price 92 000 &#8381;
      .shopping-cart__total
        span.total__sum 276 000 &#8381;
        span.total__info Доставка бесплатно

    .form__wrapper
      form.checkout__form
        .form__section
          .input__wrapper
            label(for="email" class="input__label") Эл. почта
            input(type="email", name="email" class="form__input" placeholder="petrov@yandex.ru")
          span.info__text Пришлём чеки и трек-номер
        .form__section
          .input__wrapper
            label(for="tel" class="input__label") Телефон
            input(type="tel", name="tel" class="form__input" placeholder="+7 999 275-12-37")
          span.info__text Менеджер позвонит, чтобы подтвердить заказ
        .form__section
          .input__wrapper
            label(for="city" class="input__label") Город
            input(type="text" class="form__input" placeholder="Москва") 
        .form__section
          .input__wrapper
            label(for="address" class="input__label") Адрес
            textarea(name="address", cols="30", rows="3" class="form__input" placeholder="Тимирязевская, 32, квартира 99, вход со двора")
        .form__section.form__footer
          span.info__text Бесплатная доставка курьером. Оплата картой онлайн.
          button.submit__button Оформить заказ, 276 000 &#8381;

